
<div *ngIf="coinis">
    <h2><span jhiTranslate="blockchainApp.coinis.detail.title">Coinis</span> {{coinis.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="blockchainApp.coinis.closeprice">Closeprice</span></dt>
        <dd>
            <span>{{coinis.closeprice}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.highprice">Highprice</span></dt>
        <dd>
            <span>{{coinis.highprice}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.itemcode">Itemcode</span></dt>
        <dd>
            <span>{{coinis.itemcode}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.lowprice">Lowprice</span></dt>
        <dd>
            <span>{{coinis.lowprice}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.openprice">Openprice</span></dt>
        <dd>
            <span>{{coinis.openprice}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.prevcloseprice">Prevcloseprice</span></dt>
        <dd>
            <span>{{coinis.prevcloseprice}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.tradeamount">Tradeamount</span></dt>
        <dd>
            <span>{{coinis.tradeamount}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.tradedaebi">Tradedaebi</span></dt>
        <dd>
            <span>{{coinis.tradedaebi}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.tradedaebirate">Tradedaebirate</span></dt>
        <dd>
            <span>{{coinis.tradedaebirate}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.tradedate">Tradedate</span></dt>
        <dd>
            <span>{{coinis.tradedate}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.tradevolumn">Tradevolumn</span></dt>
        <dd>
            <span>{{coinis.tradevolumn}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.symbol">Symbol</span></dt>
        <dd>
            <span>{{coinis.symbol}}</span>
        </dd>
        <dt><span jhiTranslate="blockchainApp.coinis.createdat">Createdat</span></dt>
        <dd>
            <span>{{coinis.createdat | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'coinis/'+ coinis.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
