<div style="padding:15px;">
    <mat-card>
        <h3 jhiTranslate="settings.title" translateValues="{username: '{{settingsAccount.login}}'}" *ngIf="settingsAccount">User settings for [<b>{{settingsAccount.login}}</b>]</h3>
        <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate style="margin-top:15px;font-weight:400">
            <mat-form-field class="full-width">
                <input matInput name="firstName" type="text" placeholder="{{'settings.form.firstname.placeholder' | translate}}" [(ngModel)]="settingsAccount.firstName"
                    maxlength=50 #firstNameInput="ngModel" required>
                <mat-error *ngIf="firstNameInput.dirty && firstNameInput.invalid && firstNameInput.errors.required" jhiTranslate="settings.messages.validate.firstname.required">
                    Your first name is required.
                </mat-error>
                <mat-error *ngIf="firstNameInput.dirty && firstNameInput.invalid && firstNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.firstname.maxlength">
                    Your first name cannot be longer than 50 characters.
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput name="lastName" type="text" placeholder="{{'settings.form.lastname.placeholder' | translate}}" [(ngModel)]="settingsAccount.lastName"
                    maxlength=50 #lastNameInput="ngModel" required>
                <mat-error *ngIf="lastNameInput.dirty && lastNameInput.invalid && lastNameInput.errors.required" jhiTranslate="settings.messages.validate.lastname.required">
                    Your last name is required.
                </mat-error>
                <mat-error *ngIf="lastNameInput.dirty && lastNameInput.invalid && lastNameInput.errors.maxlength" jhiTranslate="settings.messages.validate.lastname.maxlength">
                    Your last name cannot be longer than 50 characters.
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="{{'global.form.email.placeholder' | translate}}" [(ngModel)]="settingsAccount.email" minlength="5"
                    maxlength="100" #emailInput="ngModel" required name="email" email>
                <mat-error *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                    Your email is required.
                </mat-error>
                <mat-error *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                </mat-error>
                <mat-error *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                    Your email is invalid.
                </mat-error>
                <mat-error *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                    Your email is invalid.
                </mat-error>
            </mat-form-field>
            <mat-select style="margin-top:15px" [placeholder]="'settings.form.language' | translate" name="langKey" [(ngModel)]="settingsAccount.langKey">
                <mat-option *ngFor="let language of languages" [value]="language">
                    {{language | findLanguageFromKey}}
                </mat-option>
            </mat-select>
            <div style="margin-top:15px">
                <button mat-raised-button color="primary" [disabled]="settingsForm.invalid"><span jhiTranslate="settings.form.button">Register</span>
            </button>
            </div>
            <!--   <mat-error  style="margin-top:15px" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </mat-error>
            <mat-error  style="margin-top:15px" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.                
            </mat-error>
         
            <mat-error  style="margin-top:15px" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </mat-error> -->
        </form>

        <div style="margin-top:20px;" *ngIf="success" jhiTranslate="settings.messages.success">
            <strong>Settings saved!</strong>
        </div>
    </mat-card>
</div>