<div class="footer">
        <div class="column button-container">

        <button mat-button><span>소개</span></button>
                <button mat-button ><span>공지사항</span></button>
              <button mat-button><span>건의하기</span></button>
              <button mat-button routerLink="/terms" routerLinkActive="active"><span>정책</span></button>
        </div>
        <div class="column footer-mobile">
                <div>All Blockchain -Alpha-</div>
                <div class="copyright">Copyright © IanSoft </div>
                <div>Email : iansoftdev@gmail.com </div>
        </div>
</div>
