<div class="footer">
    <div class="button-container">
        <p jhiTranslate="global.footer-donation">help support all blockchain.</p>
        <p>1FE8eU72GnqCt4CHkc8ABHcSjVsyL8Rv34 (btc)</p>
        <p>0x2dDe946e03A134fD5667D13472E39071A374C79f (eth)</p>
        <p>1FE8eU72GnqCt4CHkc8ABHcSjVsyL8Rv34 (bch)</p>
    </div>
        <div class="column button-container">

        <button mat-button><span>소개</span></button>
                <button mat-button ><span>공지사항</span></button>
              <button mat-button><span>건의하기</span></button>
              <button mat-button routerLink="/terms" routerLinkActive="active"><span>정책</span></button>
        </div>
        <div class="column footer-mobile">
                <div>All Blockchain -Alpha-</div>
                <div class="copyright">Copyright © IanSoft </div>
                <div>Email : iansoftdev@gmail.com </div>
        </div>
</div>
