<div class="footer">
    <div class="button-container">
        <p jhiTranslate="global.footer-donation">help support all blockchain.</p>
        <p>1N3vf8xa8QatyfUAs1aVLgw43UFDycrw51 (btc)</p>
        <p>0x785c04446ef630d12bafaef62513d5c1ee9314e0 (eth)</p>
    </div>
        <div class="column button-container">

        <button mat-button><span>소개</span></button>
                <button mat-button ><span>공지사항</span></button>
              <button mat-button><span>건의하기</span></button>
              <button mat-button routerLink="/terms" routerLinkActive="active"><span>정책</span></button>
        </div>
        <div class="column footer-mobile">
                <div>All Blockchain -Alpha-</div>
                <div class="copyright">Copyright © IanSoft </div>
                <div>Email : iansoftdev@gmail.com </div>
        </div>
</div>
