<div>
    <h2>
        <span jhiTranslate="blockchainApp.coinBoardComment.home.title">Coin Board Comments</span>
        <button class="btn btn-primary float-right create-coin-board-comment-block-chain-info" [routerLink]="['/', { outlets: { popup: ['coin-board-comment-block-chain-info-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="blockchainApp.coinBoardComment.home.createLabel">
            Create new Coin Board Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'blockchainApp.coinBoardComment.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="coinBoardComments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="context"><span jhiTranslate="blockchainApp.coinBoardComment.context">Context</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="groupNo"><span jhiTranslate="blockchainApp.coinBoardComment.groupNo">Group No</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="parent"><span jhiTranslate="blockchainApp.coinBoardComment.parent">Parent</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="depth"><span jhiTranslate="blockchainApp.coinBoardComment.depth">Depth</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdat"><span jhiTranslate="blockchainApp.coinBoardComment.createdat">Createdat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="updatedat"><span jhiTranslate="blockchainApp.coinBoardComment.updatedat">Updatedat</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="coinBoardId"><span jhiTranslate="blockchainApp.coinBoardComment.coinBoard">Coin Board</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="userId"><span jhiTranslate="blockchainApp.coinBoardComment.user">User</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let coinBoardComment of coinBoardComments ;trackBy: trackId">
                <td><a [routerLink]="['../coin-board-comment-block-chain-info', coinBoardComment.id ]">{{coinBoardComment.id}}</a></td>
                <td>{{coinBoardComment.context}}</td>
                <td>{{coinBoardComment.groupNo}}</td>
                <td>{{coinBoardComment.parent}}</td>
                <td>{{coinBoardComment.depth}}</td>
                <td>{{coinBoardComment.createdat | date:'medium'}}</td>
                <td>{{coinBoardComment.updatedat | date:'medium'}}</td>
                <td>
                    <div *ngIf="coinBoardComment.coinBoardId">
                        <a [routerLink]="['../coin-board-block-chain-info', coinBoardComment.coinBoardId  ]" >{{coinBoardComment.coinBoardId}}</a>
                    </div>
                </td>
                <td>
                    {{coinBoardComment.userId}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../coin-board-comment-block-chain-info', coinBoardComment.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'coin-board-comment-block-chain-info/'+ coinBoardComment.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'coin-board-comment-block-chain-info/'+ coinBoardComment.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
