<div style="padding:15px;">
    <h3 jhiTranslate="reset.finish.title">Reset password</h3>
    <mat-card>
        <p jhiTranslate="reset.finish.messages.info" *ngIf="!success && !keyMissing">Choose a new password</p>

        <p *ngIf="success"><span jhiTranslate="reset.finish.messages.success">  Your password has been reset.</span>
        </p>

        <form *ngIf="!keyMissing && !success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{'global.form.newpassword' | translate}}" [(ngModel)]="resetAccount.password" type="password"
                    name="password" minlength=3 maxlength=100 #passwordInput="ngModel" required>

                <mat-error *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                    Your email is required.
                </mat-error>
                <mat-error *ngIf="passwordInput.dirty && passwordInput.invalid &&  passwordInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                    Your email is invalid.
                </mat-error>
                <!--                <mat-error *ngIf="passwordInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                                Your email is required to be at least 5 characters.
                            </mat-error> -->
                <mat-error *ngIf="passwordInput.dirty && passwordInput.invalid &&  passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                    Your email cannot be longer than 100 characters.
                </mat-error>

            </mat-form-field>
            <button style="margin-top:15px;" type="submit" mat-raised-button color="primary" [disabled]="passwordForm.form.invalid" mat-button><span jhiTranslate="reset.finish.form.button">Reset </span></button>
        </form>
    </mat-card>
    <mat-error jhiTranslate="reset.finish.messages.keymissing" *ngIf="keyMissing">
        <strong>The password reset key is missing.</strong>
    </mat-error>
    <mat-error jhiTranslate="reset.finish.messages.info" *ngIf="!success && !keyMissing">
        <strong>Choose a new password</strong>
    </mat-error>
    <mat-error jhiTranslate="reset.finish.messages.error" *ngIf="error">
        Your password couldn't be reset. Remember a password request is only valid for 24 hours.
    </mat-error>
</div>