
<md-card>
    <h3 jhiTranslate="password.title" translateValues="{username: '{{account.login}}'}" *ngIf="account">Password for [<b>{{account.login}}</b>]</h3>
        <form  name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm" novalidate style="font-weight:400;margin-top:15px;">
            <md-input-container class="full-width">
                <input mdInput 
                type="password"
                name="password" 
                #passwordInput="ngModel"
                placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                [(ngModel)]="password"
                pattern="(?=.*\d)(?=.*[a-z]).{6,100}"
                 minlength=6 maxlength=100 required>
                <md-error *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                    Your first name is required.
                </md-error>
                <md-error *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                    Your first name cannot be longer than 50 characters.
                </md-error>
                <md-error *ngIf="passwordInput.dirty && passwordInput.invalid && passwordInput.errors.pattern"  jhiTranslate="register.messages.validate.password.pattern">
                    Password is <strong>6~20 1charater 1 number</strong>
                </md-error>
            </md-input-container>
            
            <div style="margin-top:15px">
                <button md-raised-button color="primary" [disabled]="passwordForm.form.invalid"><span jhiTranslate="settings.form.button">Register</span>
            </button>
            </div>
          <!--   <md-error  style="margin-top:15px" *ngIf="errorUserExists" jhiTranslate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </md-error>
            <md-error  style="margin-top:15px" *ngIf="errorEmailExists" jhiTranslate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.                
            </md-error>
         
            <md-error  style="margin-top:15px" *ngIf="error" jhiTranslate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </md-error> -->
         </form>

         <div style="margin-top:20px;"  *ngIf="success" jhiTranslate="password.messages.success">
            <strong>Password changed!</strong>
        </div>

        <div style="margin-top:20px;" *ngIf="error"  jhiTranslate="password.messages.error">
            <strong>An error has occurred!</strong> The password could not be changed.
        </div>
</md-card>






