<mat-sidenav-container class="coin-sidenav-container">
    <mat-sidenav #sidenav opened="true" mode="side">

        <div class="coin-sidenav-scrolling-content">
            <div class="example-container">
                <div class="example-header">
                    <!--  <mat-form-field floatPlaceholder="never">
                        <input matInput #filter placeholder="Filter users">
                      </mat-form-field>-->
                    <button mat-raised-button (click)="sideNavCloseButton()">
                       <!--<span jhiTranslate="global.close">Close</span>-->
                        <mat-icon>menu</mat-icon>
                    </button>
                </div>

                <mat-table #table [dataSource]="dataSource">

                    <!-- name -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </div>
    </mat-sidenav>
</mat-sidenav-container>
