.coin-sidenav-container {
    width: 150px;
    height: 800px;
   // border: 1px solid rgba(0, 0, 0, 0.5);
  } 
  md-sidenav {
    max-width: 150px;
    display: flex;
    overflow: visible;
  }
.coin-sidenav-scrolling-content {
    overflow: auto;
  }
  

//table 
.example-container {
    display: flex;
    flex-direction: column;
  /*   max-height: 500px;
    min-width: 300px; */
  }
  
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    font-size: 20px;
    justify-content: space-between;
  }
  
  .mat-input-container {
    font-size: 14px;
    flex-grow: 1;
    margin: 0 15px;
  }
  
  .mat-table {
    overflow: auto;
  }