<md-sidenav-container class="coin-sidenav-container">
    <md-sidenav #sidenav opened="true" mode="side">

        <div class="coin-sidenav-scrolling-content">
            <div class="example-container">
                <div class="example-header">
                    <!--  <md-input-container floatPlaceholder="never">
                        <input mdInput #filter placeholder="Filter users">
                      </md-input-container>-->
                    <button md-raised-button (click)="sideNavCloseButton()">
                       <!--<span jhiTranslate="global.close">Close</span>-->
                        <md-icon>menu</md-icon>
                    </button>
                </div>

                <md-table #table [dataSource]="dataSource">

                    <!-- name -->
                    <ng-container mdColumnDef="name">
                        <md-header-cell *mdHeaderCellDef> </md-header-cell>
                        <md-cell *mdCellDef="let row"> {{row.name}}</md-cell>
                    </ng-container>

                    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
                </md-table>
            </div>
        </div>
    </md-sidenav>
</md-sidenav-container>
