
.select-wrapper{
    display:flex;
    margin:15px 0;
}

.inc{
    color:red !important;
}
.dec{
    color:blue !important;
}
.mat-grid-tile /deep/ .mat-figure{
    flex-flow:wrap !important;
    -webkit-flex-flow: wrap !important;
}

md-grid-tile {
    border-bottom: 1px solid #EEE !important;
}

p{
    font-size: 0.8rem;
    width:100%;
    margin-bottom:0 !important;
    text-align: center !important;
}
md-icon{
    vertical-align: middle;
}

.mat-select /deep/ .mat-select-trigger {
    min-width: 80px;
}
/* 
.table-header-wrapper{
    overflow-x:auto; white-space:nowrap; width:1200px;
} */
@media (max-width: 600px) {
 .table-header-wrapper {
    overflow-x:-moz-scrollbars-none;
     white-space:nowrap; 
     width:600px;
 }
    .table-header-wrapper::-webkit-scrollbar{
    display: none;  // Safari and Chrome
 }

}
@media (max-width: 750px) {
 .table-header-wrapperb {
    overflow-x:-moz-scrollbars-none;
     white-space:nowrap; 
     width:750px;
 }
    .table-header-wrapperb::-webkit-scrollbar{
    display: none;  // Safari and Chrome
 }

}