<div class="select-wrapper">
    <div style="margin-left:auto">
        <md-select [placeholder]="'market.time' | translate" (change)="timeChange()" [(ngModel)]="myUpdateTime" style="margin-right:10px">
            <md-option *ngFor="let time of timeLists" [value]="time.value">
                {{ time.viewValue }}
            </md-option>
        </md-select>

        <md-select [placeholder]="'market.currency' | translate" [(ngModel)]="myCurrency" (change)="currencyChange($event)">
            <md-option *ngFor="let currency of currencyLists" [value]="currency.value">
                {{ currency.viewValue }}
            </md-option>
        </md-select>
    </div>
</div>

<md-tab-group>
    <md-tab label="Style A">
        <div class="table-header-wrapper">
            <md-grid-list cols="12" rowHeight="60px">
                <md-grid-tile><span jhiTranslate="market.coin">Coin</span></md-grid-tile>
                <md-grid-tile>
                    <a jhiTranslate="market.bithumb" href="https://www.bithumb.com/" target="_blank">Bithumb</a>
                    <p><span class="flag-icon flag-icon-kr"></span></p>
                </md-grid-tile>
                <md-grid-tile>
                    <a jhiTranslate="market.korbit" href="https://www.korbit.co.kr/" target="_blank">Korbit</a>
                    <p><span class="flag-icon flag-icon-kr"></span></p>
                </md-grid-tile>
                <md-grid-tile>
                    <a jhiTranslate="market.coinone" href="https://coinone.co.kr/" target="_blank">Coinone</a>
                    <p><span class="flag-icon flag-icon-kr"></span></p>
                </md-grid-tile>
                <md-grid-tile>
                    <a href="http://www.coinis.co.kr/" target="_blank" jhiTranslate="market.coinis">Coinis</a >
                    <p><span class="flag-icon flag-icon-kr"></span></p>
                    </md-grid-tile>
                <md-grid-tile>
                    <a href="https://poloniex.com/" target="_blank" jhiTranslate="market.poloniex">Poloniex</a >
                        <p><span class="flag-icon flag-icon-us"></span></p>
                    </md-grid-tile>
                <md-grid-tile>
                    <a href="https://bittrex.com/" target="_blank"jhiTranslate="market.bittrex">Bittrex</a >
                    <p><span class="flag-icon flag-icon-us"></span></p>
                </md-grid-tile>
                <md-grid-tile>
                    <a href="https://bitfinex.com/" target="_blank"jhiTranslate="market.bitfinex">bitfinex</a >
                    <p><span class="flag-icon flag-icon-us"></span></p>
                    </md-grid-tile>
                <md-grid-tile>
                    <a href="https://www.okcoin.cn/" target="_blank" jhiTranslate="market.okcoincn">OKCoin</a >
                    <p><span class="flag-icon flag-icon-cn"></span></p>
                </md-grid-tile>
                <md-grid-tile>
                    <a href="https://yunbi.com" target="_blank" jhiTranslate="market.yunbi">YUNBI</a >
                    <p><span class="flag-icon flag-icon-cn"></span></p>
                </md-grid-tile>
                <md-grid-tile>
                    <a href="https://bitflyer.jp/" target="_blank" jhiTranslate="market.bitflyer">bitFlyer</a >
                        <p><span class="flag-icon flag-icon-jp"></span></p>
                    </md-grid-tile>
                <md-grid-tile>
                    <a href="https://www.kraken.com/" target="_blank" jhiTranslate="market.kraken">Kraken</a >
                        <p><span class="flag-icon flag-icon-eu"></span></p>
                </md-grid-tile>
            </md-grid-list>
            <div style="display:flex">
                <div style="flex:1">
                    <md-grid-list cols="1" rowHeight="60px">
                        <md-grid-tile><span jhiTranslate="market.btc">BTC</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.eth">ETH</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.xrp">XRP</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.dash">DASH</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.ltc">LTC</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.etc">ETC</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.bch">BCH</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.zec">ZEC</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.xmr">XMR</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.neo">NEO</span></md-grid-tile>
                        <md-grid-tile><span jhiTranslate="market.qtum">QTUM</span></md-grid-tile>
                    </md-grid-list>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bithumbRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=korbitRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=coinoneRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=coinisRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=poloniexRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bittrexRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bitfinexRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=okCoinCnRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=yunbiRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bitflyerRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>

                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=krakenRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
            </div>
        </div>
    </md-tab>
    <md-tab label="Style B">
        <div class="table-header-wrapperb">
            <md-grid-list cols="12" rowHeight="60px" style="font-size: 0.9rem;">
                <md-grid-tile><span jhiTranslate="market.market-name">NAME</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.btc">BTC</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.eth">ETH</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.xrp">XRP</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.dash">DASH</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.ltc">LTC</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.etc">ETC</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.bch">BCH</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.zec">ZEC</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.xmr">XMR</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.neo">NEO</span></md-grid-tile>
                <md-grid-tile><span jhiTranslate="market.qtum">QTUM</span></md-grid-tile>
            </md-grid-list>
            <abc-coin-price-row [coinRow]=bithumbRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=korbitRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=coinoneRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=coinisRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=poloniexRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=bittrexRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=bitfinexRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=okCoinCnRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=yunbiRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=bitflyerRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=krakenRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
        </div>
    </md-tab>

    <!-- <md-tab label="{{'market.bithumb' | translate}}">

    </md-tab>
    <md-tab label="{{'market.korbit' | translate}}"><img src="../../../content/images/coming-soon.jpg" width="100%"></md-tab>
    <md-tab label="{{'market.coinone' | translate}}"><img src="../../../content/images/coming-soon.jpg" width="100%"></md-tab> -->
</md-tab-group>
<!--
<p jhiTranslate="market.aboutMarket" style="margin-top:15px">위에 가격은 각 거래소별 API에서 가져온후 선택한 통화와 다를경우 야후 환율 API에서 환율 정보를 가져와 변경하여 보여주고 있습니다. </p>
-->