<div class="select-wrapper">
    <div style="margin-left:auto">
        <mat-select [placeholder]="'market.time' | translate" (change)="timeChange()" [(ngModel)]="myUpdateTime" style="margin-right:10px">
            <mat-option *ngFor="let time of timeLists" [value]="time.value">
                {{ time.viewValue }}
            </mat-option>
        </mat-select>

        <mat-select [placeholder]="'market.currency' | translate" [(ngModel)]="myCurrency" (change)="currencyChange($event)">
            <mat-option *ngFor="let currency of currencyLists" [value]="currency.value">
                {{ currency.viewValue }}
            </mat-option>
        </mat-select>
    </div>
</div>

<mat-tab-group>
    <mat-tab label="Style A">
        <div class="table-header-wrapper">
            <mat-grid-list cols="13" rowHeight="60px">
                <mat-grid-tile><span jhiTranslate="market.coin">Coin</span></mat-grid-tile>
                <mat-grid-tile>
                    <a jhiTranslate="market.bithumb" href="https://www.bithumb.com/" target="_blank">Bithumb</a>
                    <p><span class="flag-icon flag-icon-kr"></span></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a jhiTranslate="market.korbit" href="https://www.korbit.co.kr/" target="_blank">Korbit</a>
                    <p><span class="flag-icon flag-icon-kr"></span></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a jhiTranslate="market.coinone" href="https://coinone.co.kr/" target="_blank">Coinone</a>
                    <p><span class="flag-icon flag-icon-kr"></span></p>
                </mat-grid-tile>

                <mat-grid-tile>
                    <a href="https://poloniex.com/" target="_blank" jhiTranslate="market.poloniex">Poloniex</a >
                        <p><span class="flag-icon flag-icon-us"></span></p>
                    </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://bittrex.com/" target="_blank"jhiTranslate="market.bittrex">Bittrex</a >
                    <p><span class="flag-icon flag-icon-us"></span></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://bitfinex.com/" target="_blank"jhiTranslate="market.bitfinex">bitfinex</a >
                    <p><span class="flag-icon flag-icon-us"></span></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://www.bitstamp.net/" target="_blank" jhiTranslate="market.bitstamp">Bitstamp</a >
                        <p><span class="flag-icon flag-icon-us"></span></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://www.gdax.com" target="_blank" jhiTranslate="market.gdax">GDAX</a >
                        <p><span class="flag-icon flag-icon-us"></span></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://www.okcoin.cn/" target="_blank" jhiTranslate="market.okcoincn">OKCoin</a >
                    <p><span class="flag-icon flag-icon-cn"></span></p>
                </mat-grid-tile>
                <!-- <mat-grid-tile>
                    <a href="https://yunbi.com" target="_blank" jhiTranslate="market.yunbi">YUNBI</a >
                    <p><span class="flag-icon flag-icon-cn"></span></p>
                </mat-grid-tile> -->
                <mat-grid-tile>
                    <a href="https://bitflyer.jp/" target="_blank" jhiTranslate="market.bitflyer">bitFlyer</a >
                        <p><span class="flag-icon flag-icon-jp"></span></p>
                    </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://www.kraken.com/" target="_blank" jhiTranslate="market.kraken">Kraken</a >
                        <p><span class="flag-icon flag-icon-eu"></span></p>
                </mat-grid-tile>
                <mat-grid-tile>
                    <a href="https://www.bitstamp.net/" target="_blank" jhiTranslate="market.bitstamp">Bitstamp</a >
                        <p><span class="flag-icon flag-icon-eu"></span></p>
                </mat-grid-tile>
            </mat-grid-list>
            <div style="display:flex">
                <div style="flex:1">
                    <mat-grid-list cols="1" rowHeight="60px">
                        <mat-grid-tile><span jhiTranslate="market.btc">BTC</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.eth">ETH</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.xrp">XRP</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.dash">DASH</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.ltc">LTC</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.etc">ETC</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.bch">BCH</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.zec">ZEC</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.xmr">XMR</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.neo">NEO</span></mat-grid-tile>
                        <mat-grid-tile><span jhiTranslate="market.qtum">QTUM</span></mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bithumbRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=korbitRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=coinoneRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=poloniexRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bittrexRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bitfinexRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bitstampUsdRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=gdaxUsdRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=okCoinCnRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
                <!-- <div style="flex:1">
                    <abc-coin-price-row [coinRow]=yunbiRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div> -->
                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bitflyerRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>

                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=krakenRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>

                <div style="flex:1">
                    <abc-coin-price-row [coinRow]=bitstampEuRow [myCurrency]=myCurrency [colsNum]='1'></abc-coin-price-row>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Style B">
        <div class="table-header-wrapperb">
            <mat-grid-list cols="12" rowHeight="60px" style="font-size: 0.9rem;">
                <mat-grid-tile><span jhiTranslate="market.market-name">NAME</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.btc">BTC</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.eth">ETH</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.xrp">XRP</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.dash">DASH</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.ltc">LTC</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.etc">ETC</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.bch">BCH</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.zec">ZEC</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.xmr">XMR</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.neo">NEO</span></mat-grid-tile>
                <mat-grid-tile><span jhiTranslate="market.qtum">QTUM</span></mat-grid-tile>
            </mat-grid-list>
            <abc-coin-price-row [coinRow]=bithumbRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=korbitRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=coinoneRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=poloniexRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=bittrexRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=bitfinexRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=bitstampUsdRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=gdaxUsdRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=okCoinCnRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <!-- <abc-coin-price-row [coinRow]=yunbiRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row> -->
            <abc-coin-price-row [coinRow]=bitflyerRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=krakenRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
            <abc-coin-price-row [coinRow]=bitstampEuRow [myCurrency]=myCurrency [colsNum]='12'></abc-coin-price-row>
        </div>
    </mat-tab>

    <!-- <mat-tab label="{{'market.bithumb' | translate}}">

    </mat-tab>
    <mat-tab label="{{'market.korbit' | translate}}"><img src="../../../content/images/coming-soon.jpg" width="100%"></mat-tab>
    <mat-tab label="{{'market.coinone' | translate}}"><img src="../../../content/images/coming-soon.jpg" width="100%"></mat-tab> -->
</mat-tab-group>
<!--
<div>
    <h1>test String : {{testString}}</h1>
</div>-->
<!--
<p jhiTranslate="market.aboutMarket" style="margin-top:15px">위에 가격은 각 거래소별 API에서 가져온후 선택한 통화와 다를경우 야후 환율 API에서 환율 정보를 가져와 변경하여 보여주고 있습니다. </p>
-->
