<div style="padding:15px;">
    <mat-card *ngIf="success; else registerTemplate">
        <div>
            <span jhiTranslate="activate.messages.success"><strong>Your user account has been activated.</strong> </span>
            <!--<button mat-raised-button color="primary" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</button>-->
        </div>
    </mat-card>

    <ng-template #registerTemplate>
        <mat-card>
            <div  jhiTranslate="activate.messages.error">
                <strong>Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>
        </mat-card>
    </ng-template>
</div>
