<md-grid-list [cols]="colsNum" rowHeight="60px">
    <md-grid-tile *ngIf="colsNum==11">{{coinRow?.market}}</md-grid-tile>
    <md-grid-tile *ngFor="let coin of coinRow?.coins">
        <div [ngSwitch]="true">
            <div *ngSwitchCase="coin?.diff>0" class="price-inc">
                <p> {{coin?.price | currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                </p>
                <p class="diff">
                    <!-- <md-icon class="material-icons">arrow_drop_up</md-icon> -->
                   ▲ {{coin?.diff|currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }} 
                </p>
                <p class="diff">
                     ({{coin?.diffPercent|number:'1.0-2'}}%)
                 </p>   
                    
            </div>
            <div *ngSwitchCase="coin?.diff == 0" class="price-equal">
                <p> {{coin?.price | currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                </p>
                <!--    <p class="diff">
              {{coin?.diff|currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate}
                }} </p> -->
            </div>
            <div *ngSwitchCase="coin?.diff<0" class="price-dec">
                <p> {{coin?.price | currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                 </p>
                <!-- ▼ -->
                <p class="diff">
                   <!--  <md-icon class="material-icons">arrow_drop_down</md-icon> -->
                   ▼
                    {{coin?.diff|currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                </p>
                <p class="diff">
                     ({{coin?.diffPercent|number:'1.0-2'}}%)
                 </p>  
            </div>
        </div>
    </md-grid-tile>
</md-grid-list>