<mat-grid-list [cols]="colsNum" rowHeight="60px">
    <mat-grid-tile *ngIf="colsNum==12" >{{coinRow?.market}}</mat-grid-tile>
    <mat-grid-tile *ngFor="let coin of coinRow?.coins">
        <div [ngSwitch]="true">
            <div *ngSwitchCase="coin?.diff>0" class="price-inc"  [@valueUpdated]>
                <p> {{coin?.price | currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                </p>
                <p class="diff">
                    <!-- <mat-icon class="material-icons">arrow_drop_up</mat-icon> -->
                   ▲ {{coin?.diff|currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                </p>
                <p class="diff">
                     ({{coin?.diffPercent|number:'1.0-2'}}%)
                 </p>

            </div>
            <div *ngSwitchCase="coin?.diff == 0" class="price-equal"   [@valueUpdated]>
                <p> {{coin?.price | currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                </p>
                <!--    <p class="diff">
              {{coin?.diff|currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate}
                }} </p> -->
            </div>
            <div *ngSwitchCase="coin?.diff<0" class="price-dec"   [@valueUpdated]>
                <p> {{coin?.price | currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                 </p>
                <!-- ▼ -->
                <p class="diff">
                   <!--  <mat-icon class="material-icons">arrow_drop_down</mat-icon> -->
                   ▼
                    {{coin?.diff|currencyExchange :{myCurrency:myCurrency,currency:coinRow.currencies,exchangeRate:exchangeRate} }}
                </p>
                <p class="diff">
                     ({{coin?.diffPercent|number:'1.0-2'}}%)
                 </p>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>
