.social-cointainer {
    margin:15px 0 30px;
    height:60px;
    display:flex;
}

md-input-container{
    margin:10px 0;
}

.custom-snack-bar {
    font-size:1.0em !important;
    font-weight:400 !important;
}
.register-wrapper {
    padding:15px;
}