

    <mat-card class="example-card">
        <div [ngSwitch]="myTicker?.coinName">
            <p *ngSwitchCase="'btc'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/bitcoin.png"/>
                <span class="coin-name"> Bitcoin </span>
            </p>

            <p  *ngSwitchCase="'eth'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img src="../../../../content/images/icon/ethereum.png"/>
                <span class="coin-name"> Ethereum </span>
            </p>
            <p  *ngSwitchCase="'xrp'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/ripple.png"/>
                <span class="coin-name"> Ripple </span>
            </p>
            <p  *ngSwitchCase="'dash'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/dash.png"/>
                <span class="coin-name"> Dash </span>
            </p>
            <p  *ngSwitchCase="'ltc'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/lite-coin.png"/>
                <span class="coin-name"> Litecoin </span>
            </p>
            <p  *ngSwitchCase="'etc'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/ethereum-classic.png"/>
                <span class="coin-name"> Ethereum C</span>
            </p>
            <p  *ngSwitchCase="'bch'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/bitcoin-cash.png"/>
                <span class="coin-name"> Bitcoin C</span>
            </p>
            <p  *ngSwitchCase="'zec'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/zcash.png"/>
                <span class="coin-name"> Zcash </span>
            </p>
            <p  *ngSwitchCase="'xmr'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/monero.png"/>
                <span class="coin-name"> Monero </span>
            </p>
            <p  *ngSwitchCase="'neo'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/neo.png"/>
                <span class="coin-name"> Neo </span>
            </p>
            <p  *ngSwitchCase="'qtum'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/qtum.png"/>
                <span class="coin-name"> Qtum </span>
            </p>
            <p  *ngSwitchCase="'iota'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/iota.png"/>
                <span class="coin-name"> IOTA </span>
            </p>
            <p  *ngSwitchCase="'cardano'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/cardano.png"/>
                <span class="coin-name"> Cardano </span>
            </p>
            <p  *ngSwitchCase="'btg'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/bitcoin-gold.png"/>
                <span class="coin-name"> Bitcoin G</span>
            </p>
            <p  *ngSwitchCase="'eos'" class="ticker-header">
                <span class="market-name">{{myTicker?.marketName}}</span>
                <span class="fill-remaining-space"></span>
                <img class="img-size" src="../../../../content/images/icon/eos.png"/>
                <span class="coin-name"> EOS </span>
            </p>
        </div>


        </mat-card-header>

        <mat-card-content  [ngSwitch]="true">
            <p  class="inc" *ngSwitchCase="diff>0">
                <span class="last-price">{{quote?.lastPrice| currencyExchange :{myCurrency:myCurrency,currency:quote?.currency,exchangeRate:exchangeRate} }}</span>
                <span><i class="fas fa-caret-up"></i></span>  <span> {{diff|currencyExchange :{myCurrency:myCurrency,currency:quote.currency,exchangeRate:exchangeRate} }}</span>
            </p>

            <p class="equal" *ngSwitchCase="diff == 0">
                <span class="last-price" [hidden]="quote.lastPrice == null">{{quote?.lastPrice| currencyExchange :{myCurrency:myCurrency,currency:quote?.currency,exchangeRate:exchangeRate} }}</span>
            </p>

            <p class="dec" *ngSwitchCase="diff < 0">
                <span class="last-price" >{{quote?.lastPrice| currencyExchange :{myCurrency:myCurrency,currency:quote?.currency,exchangeRate:exchangeRate} }}</span>
                <span><i class="fas fa-caret-down"></i></span>
                <span> {{diff|currencyExchange :{myCurrency:myCurrency,currency:quote?.currency,exchangeRate:exchangeRate} }}</span>
            </p>

            <p> <span jhiTranslate="ticker.volume">거래량</span> : {{quote?.volume|number:'1.0-0'}}</p>

        </mat-card-content>


    </mat-card>

