.example-card {
  //  width: 100%;
}

.inc{
    color:#FF4C4C;
    //color:#FFFFFF;
}

.dec {
    color:#60AFFE;
    //color:#FFFFFF;
}

.equal {
    //background-color:#FFFFFF;
    color:#000000;
}
.last-price {
    font-size:1.6em;
    font-weight:700;
    height:40px;
}

.market-name {
    font-size:1.2em;
    font-weight:500;
}
.coin-name {
    font-size:1.0em;
    font-weight:500;
    line-height: 25px;
}

.img-size {
    width:24px;
    height:24px;
    margin-right:5px;
}

.ticker-header{
    display: flex;
}

