.example-card {
  //  width: 100%;
}

.inc{
    color:#FF4C4C;
    //color:#FFFFFF;
}

.dec {
    color:#60AFFE;
    //color:#FFFFFF;
}

.equal {
    //background-color:#FFFFFF;
    color:#000000;
}
.last-price {
    font-size:1.8em;
    letter-spacing: -2px;

}
