<h1 mat-dialog-title>
    Add Coin
</h1>
<div mat-dialog-content>
    <mat-horizontal-stepper [linear]="isLinear">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>마켓을 선택해주세요</ng-template>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Market" aria-label="Market" [matAutocomplete]="autoMarket" formControlName="marketName" required>
                    <mat-autocomplete #autoMarket="matAutocomplete">
                        <mat-option *ngFor="let market of filteredMarkets | async" [value]="market.name" (onSelectionChange)="selectMarket($event, market)" >
                            <span>{{ market.name }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>코인을 선택해주세요</ng-template>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Coin" aria-label="Coin" [matAutocomplete]="autoCoin" formControlName="coinName" required>
                    <mat-autocomplete #autoCoin="matAutocomplete">
                        <mat-option *ngFor="let coin of filteredCoins | async" [value]="coin.name">
                            <span>{{ coin.name }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            You are now done.
            <div>
                <button mat-button matStepperPrevious>Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
