<h1 mat-dialog-title>
    Add Coin
</h1>

<div mat-dialog-content>
    <mat-vertical-stepper [linear]="isLinear">
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel><span jhiTranslate="ticker.step1">마켓을 선택해주세요</span></ng-template>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Market" aria-label="Market" [matAutocomplete]="autoMarket" formControlName="marketName" required>
                    <mat-autocomplete #autoMarket="matAutocomplete">
                        <mat-option *ngFor="let market of filteredMarkets | async" [value]="market.name" (onSelectionChange)="selectMarket($event, market)" >
                            <span>{{ market.name }}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext color="primary">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>
                    <span jhiTranslate="ticker.step2">코인을 선택해주세요</span>
                </ng-template>
                <mat-form-field class="example-full-width">
                    <mat-select placeholder="Coins" formControlName="coinName"  multiple>
                        <mat-option *ngFor="let marketCoin of marketCoins" [value]="coin" (onSelectionChange)="selectCoin($event, marketCoin)">{{marketCoin.coinName}}</mat-option>
                    </mat-select>
                    <!--<input matInput placeholder="Coin" aria-label="Coin" [matAutocomplete]="autoCoin" formControlName="coinName" required>
                    <mat-autocomplete #autoCoin="matAutocomplete">
                        <mat-option *ngFor="let coin of filteredCoins | async" [value]="coin.name"  (onSelectionChange)="selectCoin($event, coin)">
                            <span>{{ coin.name }}</span>
                        </mat-option>
                    </mat-autocomplete>-->
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious color="primary">Back</button>
                    <button mat-button matStepperNext color="primary">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel><span jhiTranslate="ticker.step3">완료</span></ng-template>

            <div style="padding:10px">
                <button mat-button matStepperPrevious color="primary">Back</button>
                <button mat-button color="primary" (click)="addCoin()"><span jhiTranslate="ticker.addCoin">코인등록</span></button>
            </div>
        </mat-step>
    </mat-vertical-stepper>
</div>
<mat-card >
    <mat-card-header style="border-bottom:1px solid #CCCCCC; margin-bottom:15px">
        <mat-card-title>{{selectedMarket?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-chip-list>
            <mat-chip *ngFor="let marketCoin of selectedMarketCoins">{{marketCoin?.coinName}}</mat-chip>
        </mat-chip-list>
        </p>
    </mat-card-content>
</mat-card>
