<div style="padding:15px;">
    <h3 jhiTranslate="reset.request.title">Reset your password</h3>
    <md-card >
        <p jhiTranslate="reset.request.messages.info" *ngIf="!success" >Enter the email address you used to register.</p>

        <p   *ngIf="success === 'OK'" jhiTranslate="reset.request.messages.success">Check your emails for details on how to reset your password.</p>
       
        <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <md-input-container class="full-width">
                    <input mdInput placeholder="{{'global.form.email.placeholder' | translate}}" [(ngModel)]="resetAccount.email" email name="email"
                        minlength=3 maxlength=100 #emailInput="ngModel" required>
                
                        <md-error *ngIf="emailInput.dirty && emailInput.invalid && emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </md-error>
                        <md-error *ngIf="emailInput.dirty && emailInput.invalid &&  emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </md-error>
         <!--                <md-error *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </md-error> -->
                        <md-error *ngIf="emailInput.dirty && emailInput.invalid &&  emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </md-error>
                   
                </md-input-container>
                <!--  <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                                   [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" required>
                            <div *ngIf="emailInput.dirty && emailInput.invalid">
                                <small class="form-text text-danger"
                                   *ngIf="emailInput.errors.required" jhiTranslate="global.messages.validate.email.required">
                                    Your email is required.
                                </small>
                                <small class="form-text text-danger"
                                   *ngIf="emailInput.errors.email" jhiTranslate="global.messages.validate.email.invalid">
                                    Your email is invalid.
                                </small>
                                <small class="form-text text-danger"
                                   *ngIf="emailInput.errors.minlength" jhiTranslate="global.messages.validate.email.minlength">
                                    Your email is required to be at least 5 characters.
                                </small>
                                <small class="form-text text-danger"
                                   *ngIf="emailInput.errors.maxlength" jhiTranslate="global.messages.validate.email.maxlength">
                                    Your email cannot be longer than 100 characters.
                                </small>
                            </div> -->
                <button style="margin-top:15px;" type="submit" md-raised-button color="primary" [disabled]="resetRequestForm.form.invalid" md-button><span jhiTranslate="reset.request.form.button">Reset </span></button>
            </form>
    </md-card>
    <md-error style="margin-top:20px;" jhiTranslate="reset.request.messages.notfound" *ngIf="errorEmailNotExists">
        <strong>Email address isn't registered!</strong> Please check and try again.
    </me-error>
</div>