<div class="exchange-rate-header"  jhiTranslate="market.exchange-rate">환율</div>

<mat-grid-list cols="6" rowHeight="60px">
    <mat-grid-tile class="grid-header"></mat-grid-tile>
    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-kr"></span></mat-grid-tile>
    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-us"></span></mat-grid-tile>
    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-eu"></span></mat-grid-tile>
    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-cn"></span></mat-grid-tile>
    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-jp"></span></mat-grid-tile>

    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-kr"></span></mat-grid-tile>
    <mat-grid-tile><span>1</span></mat-grid-tile>
    <mat-grid-tile>{{exchangeRateKR?.usd |number:'1.0-4'}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateKR?.eur |number:'1.0-4'}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateKR?.cny |number:'1.0-4'}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateKR?.jpy |number:'1.0-4'}}</mat-grid-tile>

    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-us"></span></mat-grid-tile>
    <mat-grid-tile>{{exchangeRateUS?.krw}}</mat-grid-tile>
    <mat-grid-tile><span>1</span></mat-grid-tile>
    <mat-grid-tile>{{exchangeRateUS?.eur}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateUS?.cny}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateUS?.jpy}}</mat-grid-tile>

    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-eu"></span></mat-grid-tile>
    <mat-grid-tile>{{exchangeRateEU?.krw}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateEU?.usd}}</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateEU?.cny}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateEU?.jpy}}</mat-grid-tile>

    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-cn"></span></mat-grid-tile>
    <mat-grid-tile>{{exchangeRateCN?.krw}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateCN?.usd}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateCN?.eur}}</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateCN?.jpy}}</mat-grid-tile>

    <mat-grid-tile class="grid-header"><span class="flag-icon flag-icon-jp"></span></mat-grid-tile>
    <mat-grid-tile>{{exchangeRateJP?.krw}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateJP?.usd |number:'1.0-4'}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateJP?.eur |number:'1.0-4'}}</mat-grid-tile>
    <mat-grid-tile>{{exchangeRateJP?.cny |number:'1.0-4'}}</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
</mat-grid-list>

<p style="margin-top:5px;"> 환율정보는 <a href="http://fixer.io/" target="_blank">fixer.io</a> (<a href="http://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html">ECB</a>) 에서 가져와서 보여주고 있습니다.</p>
