.exchange-rate-header{
    padding-left:15px;
    padding-bottom:10px;
    margin-top:15px;
}

.flag-icon{
    height:55px;
    width:2.5em;
}
.mat-grid-tile{
    border:1px solid #EEE !important;
}

.grid-header {
    background-color: #EEEEEE;
}
